/node_modules
/oh_modules
/local.properties
/.idea
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/change.patch
/docs/apilist.txt

# OHOS signing
.ci/
signing/
*.p12
*.jks
*.keystore
*.cer
*.csr
*.p7b

# build outputs
dist/
**/build/