/node_modules
/oh_modules
/local.properties
/.idea
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/change.patch
/docs/*
build-profile.json5

# OHOS signing
signing/
*.p12
*.jks
*.keystore
*.cer
*.csr
*.p7b

# build outputs
dist/
**/build/
